.header {
  background-color: #f0f0f0;
  padding: 10px;
  border: 1px solid #ccc;
  display: flex;
  gap: 5px;
  border-radius: 8px;
}

.header button {
  margin: 5px;
  padding: 10px;
  background-color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  min-width: 100px;
}

.header button.active {
  background-color: #ddd;
}

.header button:hover {
  background-color: #e0e0e0;
}