.tasks-container {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.queue-filter-container {
  margin-left: 16px;
  justify-content: flex-start;
  display: flex;
}

.task-list-container {
  flex-grow: 1; /* Занимает все доступное пространство */
  margin-left: 16px;
  margin-top: 16px;

  overflow: auto;
  height: 78vh;
}